{% extends 'mainsite/base.html' %}
{% block content %}
<div class="main" style="display: flex;">
    {% include 'mainsite/includes/sidebar_pupil.html' %}
    <div class="content" style="width: 80%; display: block; margin: 0 auto;">
        <br>
        <br>
        <h1 style="text-align: center">Welcome to Lone Diary!</h1>
        <br>
        <br>
        <pre style="font-size: 1.1vw; text-align: center;">We are pleased to welcome you to our web project, created as part of our school education and IT courses in
computer academy STEP. This site is the result of the joint efforts of our team consisting of
students with different levels of experience and different educational goals.

For us, this is the first experience of creating a web project in a group, and we enthusiastically weave our knowledge and
skills acquired in the courses. We strive to make this site unique and useful for our
users, as well as for ourselves, as practical students.

However, our creativity is limited not only by the time we devote to this project, but soon we will
exams are expected, which is an additional challenge for our team. We make every effort to
successfully combine our training and development of this website.

Thank you for visiting our website and we hope that you will find something interesting and useful here.
myself. Stay tuned and you might be able to see our progress in real time!

Sincerely,
Arsen Iaseshvili and Roman Sinchyk.</pre>
    </div>
</div>
{% endblock %}
