{% extends 'registration/base.html' %}
{% block content %}

<div class="shadow-wrap">
    <div class="form-wrap">
        <h1>Password reset</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
    





<!-- <h1>Password reset</h1>
<hr>
<form action="{% url 'password_reset' %}" method="post">
    {{ form }}
    {% csrf_token %}
    <button type="submit">Submit</button>

</form> -->

{% endblock %}
