<div class="d-flex" id="wrapper">
    <!-- Sidebar-->     
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/subjects">Subjects</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/news">News</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/status">Status</a>
        </div>
    </div>
</div>